html {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ) no-repeat center center fixed, url("Myndir/bgtr.png") no-repeat center fixed, linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) no-repeat center center fixed, url("Myndir/forsida.jpg")  no-repeat center center fixed;
    background:-webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ) no-repeat center center fixed, url("Myndir/bgtr.png") no-repeat center fixed, -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) no-repeat center center fixed, url("Myndir/forsida.jpg")  no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    background: grayscale;
    position: relative;
}

#page-wrap {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ) no-repeat center center fixed, url("Myndir/bgtr.png") no-repeat center fixed, linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) no-repeat center center fixed, url("Myndir/forsida.jpg")  no-repeat center center fixed;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ) no-repeat center center fixed, url("Myndir/bgtr.png") no-repeat center fixed, -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) no-repeat center center fixed, url("Myndir/forsida.jpg")  no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    padding-bottom: 15px;
}

/******************************************************************/
/*************************** HEADER *******************************/
/******************************************************************/
#header {
    background: rgb(255,161,0); /* Old Browsers */
    background: -webkit-linear-gradient(top,rgb(255,161,0),rgb(0, 0, 0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgb(255,161,0),rgb(0, 0, 0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgb(255,161,0),rgb(0, 0, 0)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgb(255,161,0), rgb(0, 0, 0)); /*Standard*/
    background-repeat: repeat-x;
    padding: 0px 10px 0px;
}
/********************************************************************/
/********************* MAIN HLUTI SÍÐUNNAR ! ************************/
/******************** innan í gegnsæja boxinu ***********************/
/********************************************************************/
.navigation {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    font-family: arial, serif;
    color: white;
    text-shadow: 1px 1px 1px darkgray;
    letter-spacing: -0.7px;
    -webkit-font-smoothing: antialiased; /*Gerir fontið meira smooth */
    padding: 0px 20px 0px 10px;

}

/******* Hvernig stadsetn a bubbles *******/
.navigation .item{
    position: relative;
}

/*********** Stillingar á dálkunum ********/
#uppestcol {
    padding-left: 25px;
    font-size: 24px;
    width:100%;
    position: relative;
}

#uppercol {
    height: 180px;
    width:100%;
    position: relative;
}

#lowercol {
    padding-left: 25px;
    height: 225px;
    width:100%;
    position: relative;
}

#lowestcol {
    padding-left: 25px;
    height: 100%;
    width:100%;
    position: relative;
}

/***********************************************************/
/****************** Statiskar myndir ***********************/
/***********************************************************/
.hugm {
    width: 50px;
    height: 25px;
}

.fullb {
    top:120px;
    width: 150px;
    height: 80px;
    left: 30px;
}

.finalImage {
  border-radius: 25px;
}

/****** 'AFRAM TAKKINN *****/
.nextpage {
    left: 10px;
    display: inline;
}

.nextpage h2 a {
    color: lightgreen;
    text-shadow: 3px 3px 3px darkgreen;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    overflow: auto;
}

.nextp {
    text-shadow: white;
    height: 80px;
    width: 80px;
    float: left;
}

/***********************************************************/
/************ Stadsetning a bubbles fra köntum  ************/
/***********************************************************/

.kostnadaraaetlun {
    left:60px;
}

.honnun {
    left:160px;
}

.utbod {
    left:200px;
    top: 50px;
}

.verkaaetlun {
    left: 230px;
    top:120px;
}

.gaedakerfi {
    top: 25px;
}

.framkvaemdir {
    left: 45px;
}

.verkuppgjor {
    left: 100px;
    top: 20px;
}

.handbaekur {
    left: 140px;
    top: 100px;
}

.vidhald {
    left: 25px;
    top: 30px;
}


/***** útlitsþættir á "bubbles *****/

a.icon {
    width: 70px; /* var 52px */
    height: 68px;/* var 52px */
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

/***** Númeruðu kúlurnar *****/

.kostnadaraaetlun a.icon {
    background: transparent url("Myndir/no1.png") no-repeat 0px 0px;
}

.honnun a.icon {
    background: transparent url("Myndir/no2.png") no-repeat 0px 0px;
}

.utbod a.icon {
    background: transparent url("Myndir/no3.png") no-repeat 0px 0px;
}

.verkaaetlun a.icon {
    background: transparent url("Myndir/nom4.png") no-repeat 0px 0px;
}

.gaedakerfi a.icon {
    background: transparent url("Myndir/no5.png") no-repeat 0px 0px;
}

.framkvaemdir a.icon {
    background: transparent url("Myndir/nom6.png") no-repeat 0px 0px;
}

.verkuppgjor a.icon {
    background: transparent url("Myndir/no7.png") no-repeat 0px 0px;
}

.handbaekur a.icon {
    background: transparent url("Myndir/no8.png") no-repeat 0px 0px;
}

.vidhald a.icon {
    background: transparent url("Myndir/vidh.png") no-repeat 0px 0px;
}

.navigation .item a.active{
    background-position: 0px -70px;
}

.item img.circle{
    position: absolute;
    width: 180px;
    height: 180px;
    opacity: 0.02;
    filter: alpha(opacity=2);
}

/******* Bubblu fyrirsagnirnar! ********/
.item h2 {
    position: absolute;
    width: 147px;
    height: 52px;
    color:white;
    font-family: arial, serif;;
    font-size: 24px;
    top: 10px;
    left: 59px;
    text-indent: 10px;
    line-height: 10px;

}

.item h2.active{
    color: royalblue;
    text-shadow: 1px 0px 1px white;
    letter-spacing: -0.9px;
}

#kstn h2 {
    top: 12px;
    left: 58px;
    letter-spacing: -1px;
}

#kstn h2.active{
    letter-spacing: -1.5px;
    font-size: 22px;
}

#frkv h2 {
    left: 58px;
    top: 4px;
}

#frkv h2.active {
    letter-spacing: -1.4px;
    font-size: 23px;
}

#vdhld h2 {
    font-size: 27px;
    top: 5px;
    letter-spacing: 0px;
}

#vdhld a:hover {
    color: white;
    text-shadow: 2px 0px 2px royalblue;
}

.item h2 a {
     color: white;
     text-decoration: none;
     text-shadow: 1px 1px 1px darkgray;
}

.item h2 a:hover {
    color: royalblue;
    text-decoration: none;
    text-shadow: 1px 0px 1px white;
}

/******* Bubblu listar undir fyrirsognum! ********/
.item ul {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 28px;
}

#kstn ul {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 28px;
}

.item ul li{
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color:white;
    /*padding: 3px;
    float: left;
    clear: both;
    width: 131px; /* lengd á hvítu boxunum með linkunum */
    text-shadow: 1px 1px 1px black;
    letter-spacing: -0.1px;
}

.item ul li a:hover{
    /*background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow: 1px 1px 4px #666;
    text-shadow: 1px 1px 1px lightgray;*/

}

.directiontxt {
    padding-top: 20px;
}

.infotext {
    font-size: 24px;
    margin-top: 38px;
}
/********************************************************************/
/***************************** FOOTER ! *****************************/
/********************************************************************/
#footer {
    clear: both;
    font: normal .7em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-background-footer {
    background-image: url("https://www.byggkerfid.is/ByggKerfid/Content/templates/hannarr/images/BackgroundBottom.gif");
    background-repeat: repeat-x;
    height: 80px;
    color: White;
    clear: both;
    padding: 5px;
    border-top: 1px solid #ccc;
}
